container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

h1 {
    margin: 0px;
    font-size: 36px;
}

p {
    margin: 0px;
    font-size: 16px;
    color: #8E8E93;
}
