.panelActionButton {
    background-color: var(--bg-primary);
    color: var(--accent-color);
    font-weight: 600;
    border: none;
    border-radius: 12px;
    padding: 0.85rem 2.5rem;
    font-size: 1rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.15s ease, color 0.15s ease, background-color 0.3s ease;
    width: 100%;
}

.panelActionButton:hover {
    background-color: var(--bg-tertiary);
}

.panelActionButton:disabled {
    cursor: not-allowed;
    color: var(--text-tertiary);
    box-shadow: none;
}

.label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accent {
    color: var(--accent-hover);
}


