.redeemPointsPopupRedemptionPopup {
    /* Layout */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    /* Spacing */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* Decorations */
    background-color: rgba(0, 0, 0, 0.5);
}

.redeemPointsPopupContent {
    /* Layout */
    position: relative;
    width: auto;
    min-width: 400px;
    max-width: 600px;

    /* Spacing */
    padding: 2em;

    /* Decorations */
    background-color: white;
    border-radius: 1em;
}

.redeemPointsPopupCloseButton {
    /* Layout */
    position: absolute;
    width: auto;
    
    /* Spacing */
    top: 1em;
    right: 1em;
    padding: 0.5em;
    line-height: 1em;
    
    /* Decorations */
    color: black;
    background: none;
    border: none;
}

.redeemPointsPopupTitle {
    /* Spacing */
    margin: 10px 0px;

    /* Decorations */
    color: black;
}

.redeemPointsPopupAmountOfPoints {
    /* Layout */
    display: block;
    width: 100%;
}

.redeemPointsPopupAmountOfPointsLabel {
    /* Layout */
    display: block;
    color: black;
    
    /* Spacing */
    margin: 10px 0px;
}

.redeemPointsPopupAmountOfPointsInput {
    /* Layout */
    display: block;
    width: 100%;
    box-sizing: border-box;

    /* Spacing */
    margin: 10px 0px;
    padding: 1em;

    /* Decorations */
    border: 1px solid #ccc;
    border-radius: 1em !important;
}

.redeemPointsPopupError {
    /* Layout */
    display: block;

    /* Decorations */
    color: #2A73B7;
}

.redeemPointsPopupRemarks {
    /* Layout */
    display: block;
    width: 100%;
}

.redeemPointsPopupRemarksLabel { 
    /* Layout */
    display: block;
    color: black;

    /* Spacing */
    margin: 10px 0px;
}

.redeemPointsPopupRemarksInput {
    /* Spacing */
    margin: 10px 0px;
    padding: 1em;

    /* Decorations */
    border: 1px solid #ccc;
    border-radius: 1em !important;
}

.redeemPointsPopupSubmitButton {
    padding: 1em;
    margin: 1em 0em;
    border: none;
    border-radius: 0.5em;
    color: white;
    background-color: #2A73B7;
}

button {
    cursor: pointer;
}