.promoTableContainer {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    padding: 30px;
    gap: 20px;
    border-radius: 10px;
}

.promoTableTitle {
    font-size: 20px;
    color: #000000;
    align-self: flex-start;
}

:global(.MuiTableCell-head) {
    color: #2A73B7;
    font-weight: bold;
    text-align: center !important;
}

.moreDetailsBtn {
    color: #2A73B7;
    background: #ffff;
    border: none;
    cursor: pointer;
  }

:global(.MuiTableCell-body) {
    text-align: center !important;
}

.tablePaginationBar {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;
}

.paginationList {
    justify-content: center;
}

.pagination {
    justify-self: center;
}

.rowsSelect {
    justify-self: end;
}

:global(.MuiPaginationItem-root.Mui-selected) {
    background-color: #2A73B7 !important;
    color: white !important;
}
