.transactionTableContainer {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    padding: 30px;
    gap: 20px;
    border-radius: 10px;
}

.transactionTableTitle {
    font-size: 20px;
    color: #000000;
    align-self: flex-start;
}

:global(.MuiTableCell-head) {
    color: #2A73B7;
    font-weight: bold;
    text-align: center !important;
}

:global(.MuiTableCell-body) {
    text-align: center !important;
}

button {
    background-color: #ffff;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-color: #ffff;
    border-style: none;
    color: #2A73B7;
    font-weight: bold;
}