.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

input {
    width: 100%;
    height: 1.75rem;
    box-sizing: border-box;
    border: 1px solid #C7C7CC;
    border-radius: 4px;
}

label {
    font-size: 16px;
}