.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

input {
    width: 100%;
    height: 1.75rem;
    box-sizing: border-box;
    border: 1px solid #C7C7CC;
    border-radius: 4px;
}

label {
    font-size: 16px;
}

.errorInput {
    border-color: #b3261e;
    box-shadow: 0 0 0 2px rgba(179, 38, 30, 0.1);
}
