body {
    margin: 0;
}

.allEventsPageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.allEventsNav {
    flex: 0 0 auto;
    width: 100%
}

.allEventsLeftNavAndTableContainer {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    min-height: 0;
}

/* i feel like the button for opening and closing Left Nav should be on the Page level */
/* so that the button can just change the visibility of the CONTAINER holding the Left Nav*/

.allEventsleftNavContainer.nonvisible {
    display: none;
    width: 250px;
    flex-shrink: 0;
}

.allEventsleftNavContainer {
    display: block;
}

.allEventsTableContainer {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F7;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    padding: 20px;
    gap: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

.allEventsTableTopContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-self: flex-end;
}

.allEventsTableTopContainerButton {
    /* Spacing */
    padding: 1em;
    margin-right: 0;

    /* Decorations */
    border-radius: 0.5em;
    opacity: 1;
    color: #2A73B7;
    font-weight: bold;
    background-color: white;
    border-color: #fafafa;
}

.allEventsTableBottomContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}
