body {
    margin: 0;
}

.allUsersPageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.allUsersNav {
    flex: 0 0 auto;
    width: 100%
}

.allUsersLeftNavAndTableContainer {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    min-height: 0;
}

/* i feel like the button for opening and closing Left Nav should be on the Page level */
/* so that the button can just change the visibility of the CONTAINER holding the Left Nav*/

.allUsersleftNavContainer.nonvisible {
    display: none;
    width: 250px;
    flex-shrink: 0;
}

.allUsersleftNavContainer {
    display: block;
}

.allUsersTableContainer {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F7;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    padding: 20px;
    gap: 20px;
    overflow-y: auto;
}

:global(.MuiTableCell-head) {
    color: #2A73B7;
    font-weight: bold;
}