body {
    margin: 0;
}

.availPromoTableContainer {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F7;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
}

.loadingText {
    text-align: center;
    padding-bottom: 8px;
    color: #2A73B7;
    font-weight: 600;
}

:global(.MuiTableCell-head) {
    color: #2A73B7;
    font-weight: bold;
}
