body {
    margin: 0;
}

.dashboardPageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.dashboardNav {
    flex: 0 0 auto;
    width: 100%
}

.dashboardLeftNavAndDashContainer {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    min-height: 0;
}

/* i feel like the button for opening and closing Left Nav should be on the Page level */
/* so that the button can just change the visibility of the CONTAINER holding the Left Nav*/

.dashboardleftNavContainer.nonvisible {
    display: none;
    width: 250px;
    flex-shrink: 0;
}

.dashboardleftNavContainer {
    display: block;
}

.dashboardDashContainer {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F7;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    gap: 20px;
    overflow-x: hidden;
}

.dashboardDashTopContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.dashboardAvailPoints {
    grid-area: availPoints;
    padding: 30px 50px;
    flex: 1;
    background-color: #ffff;
    border-radius: 10px;
}

.dashboardQR {
    grid-area: qr;
    padding: 30px 50px;
    background-color: #ffff;
    border-radius: 10px;
}

.cashierButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 20px;
}

.cashierButton {
    flex: 1;
}

.cashierButton button {
    background-color: #ffff;
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 10px 50px;
    border-radius: 10px;
    border-color: #ffff;
    border-style: none;
    color: #2A73B7;
    font-weight: bold;
}


/* 
.dashboardDashBottomContainer {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    padding: 20px;
    gap: 20px;
}

.dashboardDashBottomTitle {
    font-size: 20px;
    color: #000000;
    align-self: flex-start;
} */




/* 
.dashboardDashContainer {
    flex: 1; 
    min-width: 0;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "availPoints" "qr"
        "recentTrans" "recentTrans";
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;

    background-color: #f7f7f7;
}
*/




/* 

.dashboardGridContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "nav nav nav nav"
        "left-nav avail-points qr"
        "temp temp temp temp";

    width: 100vw;
    height: 100vh;
    
    background-color: #f7f7f7;
}

.dashboardNav {
    grid-area: nav;
}

.dashboardLeftNav {
    grid-area: left-nav;
} */

/* these two are placed inside the DashboardTopSection.module.css file */

/* .dashboardAvailPoints {
    grid-area: avail-points;
}

.dashboardQR {
    grid-area: qr;
} */







/* 
#profile-right-side {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "profile-section account-section";
}

#profile-profile-section {
    grid-area: profile-section;
}

#profile-account-section {
    grid-area: account-section;
} */
