.login-box {
    display: none;
}

.login-box.active {
    display: block;
}

.register-box {
    display: none;
}

.register-box.active {
    display: block;
}

.forgotpassword-box {
    display: none;
}

.forgotpassword-box.active {
    display: block;
}

.resetpassword-box {
    display: none;
}

.resetpassword-box.active {
    display: block;
}

.passwordchanged-box {
    display: none;
}

.passwordchanged-box.active {
    display: block;
}

.emailsent-box {
    display: none;
}

.emailsent-box.active {
    display: block;
}

.verify-form {
    display: none;
}

.verify-form.active {
    display: block;
}