.fullscreen {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    
    background: #F7F7F7;
}

.container {
    width: 40%;
}