.fullscreen {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    background: #F7F7F7;
}

.container {
    width: 40%;
}

.loginLogo {
    display: block;
    margin: 0 auto;
    height: 48px;
    object-fit: contain;
}