.myRafflesContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    transition: background-color 0.3s ease;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
}

