body {
    margin: 0;
}

.pastTransactionsPageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.pastTransactionsNav {
    flex: 0 0 auto;
    width: 100%
}

.pastTransactionsLeftNavAndTableContainer {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    min-height: 0;
}

/* i feel like the button for opening and closing Left Nav should be on the Page level */
/* so that the button can just change the visibility of the CONTAINER holding the Left Nav*/

.pastTransactionsleftNavContainer.nonvisible {
    display: none;
    width: 250px;
    flex-shrink: 0;
}

.pastTransactionsleftNavContainer {
    display: block;
}

.pastTransactionsTableContainer {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F7;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    gap: 20px;
    overflow-x: hidden;
    box-sizing: border-box;
}

.loadingText {
    text-align: center;
    padding-bottom: 8px;
    color: #2A73B7;
    font-weight: 600;
}

:global(.MuiTableCell-head) {
    color: #2A73B7;
    font-weight: bold;
}
