body {
    margin: 0;
}

.pubEventsTableContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    transition: background-color 0.3s ease;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    gap: 20px;
    overflow-x: hidden;
    box-sizing: border-box;
}

.pubEventsTableTopContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-self: flex-end;
}

.pubEventsTableBottomContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
