body {
    margin: 0;
}

.redeemPointsPageContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.redeemPointsNav {
    flex: 0 0 auto;
    width: 100%
}

.redeemPointsLeftNavAndTableContainer {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    min-height: 0;
}

/* i feel like the button for opening and closing Left Nav should be on the Page level */
/* so that the button can just change the visibility of the CONTAINER holding the Left Nav*/

.redeemPointsleftNavContainer.nonvisible {
    display: none;
    width: 250px;
    flex-shrink: 0;
}

.redeemPointsleftNavContainer {
    display: block;
}

.redeemPointsTableContainer {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F7;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    padding: 20px 30px;
    gap: 20px;
    overflow-y: auto;
    align-items: center;
}

.redeemPointsTableTopContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-self: flex-end;
}

.redeemPointsTableTopContainerButton {
    /* Spacing */
    padding: 1em;

    /* Decorations */
    border-radius: 0.5em;
    opacity: 1;
    color: #2A73B7;
    background-color: white;
    border-color: #fafafa;
}

.redeemPointsTableBottomContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
