.newGuestPopup {
    /* Layout */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Spacing */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* Decorations */
    background-color: rgba(0, 0, 0, 0.5);
}

.newGuestPopupContent {
    /* Layout */
    position: relative;
    width: auto;

    /* Spacing */
    padding: 2em;

    /* Decorations */
    background-color: white;
    border-radius: 1em;
}

.newGuestPopupCloseButton {
    /* Layout */
    position: absolute;
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    /* Spacing */
    top: 1em;
    right: 1em;
    padding: 0;
    line-height: 1em;
    
    /* Decorations */
    color: black;
    background: none;
    border: none;
    border-radius: 50%;
    transition: background 0.15s ease;
    font-size: 16px;
}

.newGuestPopupCloseButton:hover {
    background: rgba(15, 23, 42, 0.06);
}

.newGuestPopupTitle {
    /* Spacing */
    margin: 10px 0px;

    /* Decorations */
    color: black;
}

.newGuestPopupUtorid {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.newGuestPopupUtoridLabel {
    /* Layout */
    display: block;
    color: black;
    
    /* Spacing */
    margin: 10px 0px;
}

.newGuestPopupUtoridInput {
    /* Layout */
    display: block;

    /* Spacing */
    margin: 10px 0px;
    padding: 1em;

    /* Decorations */
    border: 1px solid #ccc;
    border-radius: 1em !important;
}

.newGuestPopupError {
    /* Decorations */
    color: #2A73B7;
}

.newGuestPopupAddGuestButton {
    /* Layout */
    padding: 1em;
    margin: 1em 0em;

    /* Decorations */
    border: none;
    border-radius: 0.5em;
    color: white;
    background-color: #2A73B7;
}
