.accountSection {
    /* Spacing */
    margin: 20px 20px 20px 0px;
}

.accountSectionDetails {
    /* Decorations */
    background-color: var(--bg-primary);
    
    /* Spacing */
    padding: 30px;
    transition: background-color 0.3s ease;
}

.accountSectionSettings {
    /* Layout */
    display: flex;
    flex-direction: column;

    /* Spacing */
    gap: 20px;
}

.accountSectionTitle {
    /* Spacing */
    margin: 0;
}

.accountSectionAccountInfo {
    /* Layout */
    display: flex;
    flex-direction: column;

    /* Spacing */
    gap: 0.5em;
}

.accountSectionAccountInfoLabel {
    /* Decorations */
    color: var(--text-secondary);
    transition: color 0.3s ease;
}

.accountSectionAccountInfoValue {
    /* Decorations */
    color: var(--text-primary);
    transition: color 0.3s ease;
}