.accountSection {
    /* Spacing */
    margin: 20px 20px 20px 0px;
}

.accountSectionDetails {
    /* Decorations */
    background-color: white;
    
    /* Spacing */
    padding: 30px;
}

.accountSectionSettings {
    /* Layout */
    display: flex;
    flex-direction: column;

    /* Spacing */
    gap: 20px;
}

.accountSectionTitle {
    /* Spacing */
    margin: 0;
}

.accountSectionAccountInfo {
    /* Layout */
    display: flex;
    flex-direction: column;

    /* Spacing */
    gap: 0.5em;
}

.accountSectionAccountInfoLabel {
    /* Decorations */
    color: gray;
}

.accountSectionAccountInfoValue {
    /* Decorations */
    color: black;
}