.leftNavMenu {
    display: flex;
    flex-direction: column;
    padding: 0.25em;
    gap: 0.25em;
    border: none;
    background: none;
}

.leftNavMenuBar {
    width: 16px;
    height: 2px;
    background: #7d7d7d;
    border-radius: 3px;
}

.leftNavLeftTop {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.leftNavScrollableContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

.leftNavLeftMiddle {
    display: flex;
    flex-direction: column;
}

.leftNavLeftBottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    bottom: 0;
    padding: 20px;
    background-color: white;
}

.leftNavLogoutButton {
    color: #2A73B7;
    background: none;
    border: none;
    cursor: pointer;
}

.leftNav {
    display: flex;
    flex-direction: column;
    height: 100%;
<<<<<<< HEAD:frontend/src/components/Profile/LeftNav.css
    width: 250px;
    /* Decorations */
=======
>>>>>>> origin/main:frontend/src/components/Profile/LeftNav.module.css
    background-color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.left-nav-left-top img {
    max-width: 80px;
    border-radius: 50%;
}
