.nav {
    /* Decorations */
    background-color: white;
}

.navList {
    /* Spacing */
    margin: 0px;

    /* Layout */
    display: flex;
    justify-content: center;

    /* Decorations */
    list-style: none;
}

.navListItem {
    /* Spacing */
    padding: 20px 30px;
}

.navListItemLink {
    /* Decorations */
    color: black;
    text-decoration: none;
}