.nav {
    /* Decorations */
    background-color: white;
}

.navListContainer {
    /* Layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.navList {
    /* Spacing */
    margin: 0px;

    /* Layout */
    display: flex;
    justify-content: center;

    /* Decorations */
    list-style: none;
}

.navListItem {
    /* Spacing */
    padding: 20px 30px;
}

.navListItemLink {
    /* Decorations */
    color: black;
    text-decoration: none;
    font-weight: 600;
    padding: 0.75em 1.25em;
    border-radius: 0.5em;
}

.active {
    background-color: #2A73B7;
    color: white;
}

.navViewRoleSelector {
    padding-top: 10px;
    padding-bottom: 10px;
}