.pageButton {
    padding: 1em 30px;

    font-weight: bold;

    border: none;
    background: none;

    text-align: left;
}

.pageButtonActive {
    background-color: #2A73B7;
    color: white;
    border-radius: 0.5em;
}