.pageButton {
    /* Spacing */
    padding: 1em;

    /* Text */
    font-weight: bold;

    /* Decoration */
    border: none;
    background: none;
}

.pageButtonActive {
    background-color: #2A73B7;
    color: white;
    border-radius: 0.5em;
}