.profileSectionProfileField {
    /* Layout */
    display: flex;
    flex-direction: column;

    /* Spacing */
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 0.5em;
}

.profileSectionProfileFieldInput {
    /* Spacing */
    padding: 1em;

    /* Decorations */
    color: black;
    background-color: #fafafa;
    border-color: #e5e5ea;
    border-radius: 0.5em;
    opacity: 1;
}

.profileSectionError {
    /* Decorations */
    color: #2A73B7;
}

.profileSectionEditButton {
    /* Spacing */
    padding: 1em;

    /* Decorations */
    border: none;
    border-radius: 0.5em;
    opacity: 1;
    color: white;
    background-color: #2A73B7;
    width: auto;
}

.profileSectionEditingButtons {
    display: flex;
    gap: 1em;
}

.profileSectionDiscardChangesButton {
    /* Spacing */
    padding: 1em;

    /* Decorations */
    border-radius: 0.5em;
    opacity: 1;
    color: #2A73B7;
    background-color: white;
    border-color: #fafafa;
}

.profileSectionSaveChangesButton {
    white-space: nowrap;

    /* Spacing */
    padding: 1em;

    /* Decorations */
    border: none;
    border-radius: 0.5em;
    opacity: 1;
    color: white;
    background-color: #2A73B7;
}

.profileSectionEditingFields {
    /* Layout */
    display: flex;
    justify-content: flex-end;
}

.profileSection {
    /* Spacing */
    margin: 20px;
}

.profileSectionDetails {
    /* Decorations */
    background-color: white;

    /* Spacing */
    padding: 30px;
}

.profileSectionSettings {
}

.profileSectionSettingsLocked {
    pointer-events: none;
    opacity: 0.5;
}

.profileSectionSettingsUnlocked {
    pointer-events: auto;
    opacity: 1
}

.profileSectionTitle {
}

.profileSectionNewImageButtonUnlocked {
    /* Decorations */
    border: none !important;
    border-radius: 0.5em !important;
    color: white !important;
    background-color: #2A73B7 !important;
}

.profileSectionRemoveImageButtonUnlocked {
    /* Decorations */
    border-radius: 0.5em !important;
    opacity: 1 !important;
    color: #2A73B7 !important;
    background-color: white !important;
    border-color: #fafafa !important;
}

.profileSectionImageSettings {
    /* Layout */
    display: flex;
    align-items: center;

    /* Spacing */
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.profileSectionNewImageButton, .profileSectionRemoveImageButton {
    /* Spacing */
    padding: 1em;

    /* Decorations */
    border-radius: 0.5em;
    opacity: 1;
    color: #e5e5ea;
    background-color: #fafafa;
    border-color: #e5e5ea;
}

.profileSectionPublicSettings {
    /* Layout */
    display: flex;

    /* Spacing */
    gap: 20px;
}

.profileSectionAccountSecurity {
    /* Spacing */
    margin-top: 20px;
    margin-bottom: 20px;
}

.profileSectionPrivateSettings {
}

.profileSectionPassword {
    /* Layout */
    display: flex;
    justify-content: flex-end;

    /* Spacing */
    margin-bottom: 30px;
}

.profileSectionChangePasswordButton {
    width: auto;

    /* Spacing */
    padding: 1em;

    /* Decorations */
    color: #e5e5ea;
    background-color: #fafafa;
    border-color: #e5e5ea;
    border-radius: 0.5em;
    opacity: 1;
}

.profileSectionChangePasswordButtonUnlocked {
    /* Decorations */
    border: none !important;
    border-radius: 0.5em !important;
    color: white !important;
    background-color: #2A73B7 !important;
}

button:hover {
    cursor: pointer;
}