.profile-section-profile-field {
    /* Layout */
    display: flex;
    flex-direction: column;

    /* Spacing */
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 0.5em;
}

.profile-section-profile-field-input {
    /* Spacing */
    padding: 1em;

    /* Decorations */
    color: black;
    background-color: #fafafa;
    border-color: #e5e5ea;
    border-radius: 0.5em;
    opacity: 1;
}

.profile-section-error {
    /* Decorations */
    color: #ff0015; /* SK: Change this colour if you do not like this red */
}

.profile-section-edit-button {
    /* Spacing */
    padding: 1em;

    /* Decorations */
    border: none;
    border-radius: 0.5em;
    opacity: 1;
    color: white;
    background-color: #2A73B7;
}

.profile-section-editing-buttons {
    display: flex;
    gap: 1em;
}

.profile-section-discard-changes-button {
    /* Spacing */
    padding: 1em;

    /* Decorations */
    border-radius: 0.5em;
    opacity: 1;
    color: #2A73B7;
    background-color: white;
    border-color: #fafafa;
}

.profile-section-save-changes-button {
    white-space: nowrap;

    /* Spacing */
    padding: 1em;

    /* Decorations */
    border: none;
    border-radius: 0.5em;
    opacity: 1;
    color: white;
    background-color: #2A73B7;
}

.profile-section-editing-fields {
    /* Layout */
    display: flex;
    justify-content: flex-end;
}

.profile-section {
    /* Spacing */
    margin: 20px;
}

.profile-section-details {
    /* Decorations */
    background-color: white;

    /* Spacing */
    padding: 30px;
}

.profile-section-settings-locked {
    pointer-events: none;
    opacity: 0.5;
}

.profile-section-settings-unlocked {
    pointer-events: auto;
    opacity: 1
}

.profile-section-new-image-button-unlocked {
    /* Decorations */
    border: none !important;
    border-radius: 0.5em !important;
    color: white !important;
    background-color: #2A73B7 !important;
}

.profile-section-remove-image-button-unlocked {
    /* Decorations */
    border-radius: 0.5em !important;
    opacity: 1 !important;
    color: #2A73B7 !important;
    background-color: white !important;
    border-color: #fafafa !important;
}

.profile-section-image-settings {
    /* Layout */
    display: flex;
    align-items: center;

    /* Spacing */
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.profile-section-new-image-button, .profile-section-remove-image-button {
    /* Spacing */
    padding: 1em;

    /* Decorations */
    border-radius: 0.5em;
    opacity: 1;
    color: #e5e5ea;
    background-color: #fafafa;
    border-color: #e5e5ea;
}

.profile-section-public-settings {
    /* Layout */
    display: flex;

    /* Spacing */
    gap: 20px;
}

.profile-section-account-security {
    /* Spacing */
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-section-password {
    /* Layout */
    display: flex;
    justify-content: flex-end;

    /* Spacing */
    margin-bottom: 30px;
}

.profile-section-change-password-button {
    width: auto;

    /* Spacing */
    padding: 1em;

    /* Decorations */
    color: #e5e5ea;
    background-color: #fafafa;
    border-color: #e5e5ea;
    border-radius: 0.5em;
    opacity: 1;
    /* border: none;
    border-radius: 0.5em;
    opacity: 1;
    color: white;
    background-color: #2A73B7; */
}

.profile-section-change-password-button-unlocked {
    /* Decorations */
    border: none !important;
    border-radius: 0.5em !important;
    color: white !important;
    background-color: #2A73B7 !important;
}

.profile-section-edit-button {
    width: auto;
}

button:hover {
    cursor: pointer;
}